@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

/* Avoid adding a scrollbar when sidebar is open which causes layout shift */
:where(:root:has(.drawer:not(.drawer-open) > .drawer-toggle:checked )) {
  scrollbar-gutter: initial;
}

.card:where(.card-border) {
  border: var(--border) solid var(--color-neutral-content);
}

.drawer-side {
  transition: opacity 0.05s ease-out 0.05s allow-discrete, visibility 0.05s ease-out 0.05s allow-discrete;
}
